
.Rhistory
.RData
.Ruserdata

.Rproj.user/


.DS_Store
Thumbs.db

*.utf8.md
*.knit.md
*.html
*_cache/
*_files/

.Renviron
subcontracts.RDS
runs/psc/snapshots/preds_20250828_153959.csv
runs/psc/outputs/top1_subset400.rds
runs/psc/outputs/preds_topk_subset400.rds
runs/psc/cache/cache_subset400.rds
